.section {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  @media screen and (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.section-subtitle {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-h-second);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
